@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  font-family: "Space Grotesk", system-ui, sans-serif;
  background-color: #131022;
  color: white;
}